.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  /* Adjusts the dropdown menu position */
}

.navbar-nav .dropdown-toggle::after {
  display: none;
  /* Hides the default arrow */
}
