<div class="full-width-image-container">
  <img src="../../../assets/backgroud.svg" alt="Background Image" class="img-fluid">
  <div class="overlay-text">
    <h1>EngageX CaseTrack</h1>
    <p>Track Cases Effectively</p>
  </div>
</div>
<div class="container my-5">
  <div class="row justify-content-center">
    <!-- Create Case Card -->
    <div class="col-md-6 col-lg-4 mb-4">
      <a routerLink="/case/create" class="card-link">
        <div class="card shadow-sm">
          <div class="card-body text-center">
            <div class="icon mb-3">
              <i class="bi bi-file-earmark-plus" style="font-size: 3rem;"></i>
            </div>
            <h5 class="card-title">Create Case</h5>
            <p class="card-text">Create and manage new cases with ease. Start tracking your cases effectively.</p>
          </div>
        </div>
      </a>
    </div>

    <!-- All Cases Card -->
    <div class="col-md-6 col-lg-4 mb-4">
      <a routerLink="/case/list" class="card-link">
        <div class="card shadow-sm">
          <div class="card-body text-center">
            <div class="icon mb-3">
              <i class="bi bi-file-earmark-text" style="font-size: 3rem;"></i>
            </div>
            <h5 class="card-title">All Cases</h5>
            <p class="card-text">View and manage all existing cases in one place. Keep track of progress and details.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>



