html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.footer {
  background-color: #f8f9fa;
  /* Adjust the footer background color if needed */
  padding: 0.5rem;
  text-align: center;
  /* Optional: adds a border on top of the footer */
}
